*{
    box-sizing: content-box;
}

body{
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;

    text-align: center;
    overflow-x: hidden;
    overflow-y: hidden;
    padding-left: 10%;
    padding-right: 10%;
    background-image: linear-gradient(rgb(15, 15, 15), rgb(32, 30, 46), rgb(5, 5, 66), rgb(2, 2, 58));
}
h1{
    color: white;
}

section{
    position: relative;
    display: flex;
    flex-direction: row;

    gap: 10%;
    align-items: left;
    justify-content: left;
    
    height: 100%;
    width: 80;
}

.menu{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;

    margin-top: 5px;
    height: inherit;
    width: auto;
}
input{
    width: 200px;
    height: 30px;
}

ul{
    position: relative;
    list-style: none;
    display: flex;
    flex-direction: column;
    /* gap: 10px; */
    font-size: 2em;
    width: 50px;
    height: 80%;
    
    overflow-x: hidden;
    overflow-y: auto;
    /* padding: auto; */
}
li{
    border:white;
}

main{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: auto;

    width: 300px;

    font-family: 1.2em;
    color: white;
    text-align: center;
}


